<div>
    <h1>BIENVENIDOS</h1>
</div>

<div >
    <span> <strong>usuario: </strong> {{nombre}} {{apellido}}
        {{#if isAdmin}} <span>(Administrador)</span>{{/if}}
    </span>
    <div>
        <form method="GET" action="sessions/logout">
            <button type="submit" class=" btn-info">SALIR</button>
        </form>
    </div>
</div>
<div>
    <div id="container">
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Código</th>
                    <th>Thumbnail</th>
                    <th>Stock</th>
                    <th>Categoría</th>
                    <th>Status</th>
                    <th>ID</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody id="body">
                {{#if dataExist}}
                {{#each payload}}
                <tr>
                    <td class="text-center">{{this.title}}</td>
                    <td class="text-center">{{this.description}}</td>
                    <td class="text-center">{{this.price}}</td>
                    <td class="text-center">{{this.code}}</td>
                    <td class="text-center"><img style="width:30px" src={{this.thumbnail}} alt="img"></td>
                    <td class="text-center">{{this.stock}}</td>
                    <td class="text-center">{{this.category}}</td>
                    <td class="text-center">{{this.status}}</td>
                    <td class="text-center">{{this._id}}</td>
                    <td> <Button>
                        </Button> </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div>
            {{#if hasPrevPage}}
            <button id="prev" name="{{prevLink}})"> Anterior </button>
            {{/if}}

            <span>{{page}}-{{totalPages}}</span>

            {{#if hasNextPage}}
            <button id="next" name="{{nextLink}}"> Siguiente </button>
            {{/if}}

        </div>
        {{else}}
        </tbody>
        </table>
        <div id="alertContainer">
            <div id="boxAlert">
                <span> NO PRODUCTS</span>
            </div>
        </div>
        {{/if}}
    </div>

    {{#if isAdmin}}
    <div id="containerForm" >
        <form id="form">
            <div >
                <label>Título</label>
                <input type="text" name="title" placeholder="Ingresar título">
            </div>
            <div >
                <label>Descripción</label>
                <input name="description" placeholder="Ingresar descripción">
            </div>
            <div >
                <label>Precio</label>
                <input type="text"  name="price" placeholder="Ingresar precio">
            </div>
            <div >
                <label>Thumbnail</label>
                <input type="text"  name="thumbnail" placeholder="Ingresar Thumbnail">
            </div>
            <div >
                <label>Código</label>
                <input type="text"  name="code" placeholder="Ingresar Código">
            </div>
            <div >
                <label>Stock</label>
                <input type="text"  name="stock" placeholder="Ingresar Stock">
            </div>
            <div >
                <label>Categoría</label>
                <input type="text"  name="category" placeholder="Ingresar Categoría">
            </div>
            <div class="mx-auto">
                <button type="submit" class="btn-info">Crear Producto</button>
            </div>
        </form>
    </div>
    {{/if}}

</div>
<script src="/aleas/js/index.js"></script>