<div>
    <div>
        <h2>CARRITO ID: <span id="idNumber">{{id}}</span></h2>
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Código</th>
                    <th>Thumbnail</th>
                    <th>Stock</th>
                    <th>Categoría</th>
                    <th>Status</th>
                    <th>ID</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody >
                {{#if cartExist}}
                {{#each cartProducts}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td><img src={{this.thumbnail}} alt="prd-img"></td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this._id}}</td>
                    <td>{{this.quantity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        </tbody>
        </table>
        <div >
            <div>
                <span>No existen productos</span>
            </div>

        </div>
        {{/if}}
    </div>



    <div >
        <h2>Catalogo de Productos - agrega algo</h2>
        <table >
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Status</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                {{#if catalogExists}}
                {{#each catalogProducts}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this._id}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        </tbody>
        </table>
        <div>
            <div>
                <span>No existen productos agregados a este catalogo por el momento.</span>
            </div>
            <div>
                <a href="/api/products" class="btn btn-primary">Volver a Productos</a>
            </div>
        </div>
        {{/if}}
    </div>
</div>